*{
    background-color: #003153;
    color: white ;    
    
}

h1{
    font-family: "cascadia code";
    background-color: #affafa;
    text-align: center;
    border-width: 1px;
    border-color: red;
    border-style: dashed;
    color: black;
transition: all 0.5s linear;
}
h1:hover{
    color: red;
}
#first{
    background-color: #003153;
    padding: 20px;
    border-width: 4px;
    border-color: red;
    border-style: solid;
    height: 90vw;
    
    
}

#intro{
    background-color: #003153;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    
}
#body{
    background-color: #003153;
    text-align: left;
    font-size: 23px;
    line-height: 30px;
    padding-top: 180px;
    color: white;
    padding-left: 10px;
    
}
.open{
    background-color: #003153;
    text-align: left;
    font-size: 23px;
    line-height: 30px;
    color: white;
    padding-left: 10px;

    
}
#photo{
    height: 150px;
    width: 10px;
    object-fit: cover;
    
}
#photo1 {
    height: 200px;
    width: 150px;
    object-fit: cover;
    position: absolute;
    top: 120px;
    right: 15px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
}
#contain{
    object-fit: cover;
}
#back{
    height: 200px;
    width: 400px;
    background-color: grey;
    opacity: 70%;
    object-fit: cover;
    position: absolute;
    top: 220px;
    left: 500px;
}
#last{
    background-color: #003153;
    text-align: right;
    font-size: 20px;
    line-height: 18px;
    color: white;

}
a{
    color: white;
    transition: all 0.4s linear;
}
a:hover{
    color: red;
    background-color: white;
}

